@media screen and (max-width: 1920px){}
@media screen and (max-width: 1440px){}
@media screen and (max-width: 1382px){}
@media screen and (max-width: 1200px){}
@media screen and (max-width: 1110px){}
@media screen and (max-width: 1080px){}
@media screen and (max-width: 1024px){}
@media screen and (max-width: 992px){}
@media screen and (max-width: 900px){}
@media screen and (max-width: 768px){}
@media screen and (max-width: 600px){}
@media screen and (max-width: 520px){}
@media screen and (max-width: 480px){}
@media screen and (max-width: 440px){}
@media screen and (max-width: 400px){}

@media screen and (max-width: 320px){
    body{
        margin: 0;
        padding: 0;
        max-width: 320px;
    }

    header {
        padding: 5px;
        justify-content: center;
        align-items: center;
    }
    nav {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        line-height: 1.5px;
    }

    img {
        width: 100px;
    }

    h1 {
        font-size: 18px; 
    }

    h2 {
        font-size: 16px;
    }

    h3 {
        font-size: 14px;
    }

    iframe {
        width: 280px;
        height: 280px;
    }

    main {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 50px;
    }

    p {
        font-size: 12px;
        text-align: center;
        padding: 5px;
    }

    .btn-comprar {
        height: 20px;
        font-size: 12px;
    }

    .contatos {
        height: 20px;
        font-size: 12px;
    }
}