@media screen and (max-width: 1920px){}
@media screen and (max-width: 1440px){}
@media screen and (max-width: 1382px){}
@media screen and (max-width: 1200px){}
@media screen and (max-width: 1110px){}
@media screen and (max-width: 1080px){}
@media screen and (max-width: 1024px){}
@media screen and (max-width: 992px){}
@media screen and (max-width: 900px){}
@media screen and (max-width: 800px){}
@media screen and (max-width: 768px){}
@media screen and (max-width: 725px){}
@media screen and (max-width: 700px){}
@media screen and (max-width: 675px){}
@media screen and (max-width: 650px){}
@media screen and (max-width: 625px){}
@media screen and (max-width: 600px){}
@media screen and (max-width: 575px){}
@media screen and (max-width: 550px){
    body {max-width: 550px;}
    header {padding: 5px;}
    nav {line-height: 30px;}
    img {width: 150px;}
    h1 {font-size: 24px;}
    h2 {font-size: 20px;}
    h3 {font-size: 18px;}
    iframe {width: 500px; height: 400px;}
    main {padding-top: 50px;}

    p {
        font-size: 13px;
        text-align: center;
        padding: 5px;
    }

    .btn-comprar {
        height: 20px;
        font-size: 12px;
    }

    .contatos {
        height: 20px;
        font-size: 12px;
    }
}

@media screen and (max-width: 525px){
    body {max-width: 525px;}
    header {padding: 5px;}
    nav {line-height: 30px;}
    img {width: 150px;}
    h1 {font-size: 24px;}
    h2 {font-size: 20px;}
    h3 {font-size: 18px;}
    iframe {width: 450px; height: 400px;}
    main {padding-top: 50px;}

    p {
        font-size: 13px;
        text-align: center;
        padding: 5px;
    }

    .btn-comprar {
        height: 20px;
        font-size: 12px;
    }

    .contatos {
        height: 20px;
        font-size: 12px;
    }
}

@media screen and (max-width: 500px){
    body {max-width: 500px;}
    header {padding: 5px;}
    nav {line-height: 30px;}
    img {width: 150px;}
    h1 {font-size: 24px;}
    h2 {font-size: 20px;}
    h3 {font-size: 18px;}
    iframe {width: 400px; height: 400px;}
    main {padding-top: 50px;}

    p {
        font-size: 13px;
        text-align: center;
        padding: 5px;
    }

    .btn-comprar {
        height: 20px;
        font-size: 12px;
    }

    .contatos {
        height: 20px;
        font-size: 12px;
    }
}

@media screen and (max-width: 475px){
    body {max-width: 475px;}
    header {padding: 5px;}
    nav {line-height: 30px;}
    img {width: 150px;}
    h1 {font-size: 21px;}
    h2 {font-size: 19px;}
    h3 {font-size: 17px;}
    iframe {width: 390px; height: 390px;}
    main {padding-top: 50px;}

    p {
        font-size: 13px;
        text-align: center;
        padding: 5px;
    }

    .btn-comprar {
        height: 20px;
        font-size: 12px;
    }

    .contatos {
        height: 20px;
        font-size: 12px;
    }
}

@media screen and (max-width: 450px){
    body {max-width: 450px;}
    header {padding: 5px;}
    nav {line-height: 30px;}
    img {width: 150px;}
    h1 {font-size: 21px;}
    h2 {font-size: 19px;}
    h3 {font-size: 17px;}
    iframe {width: 400px; height: 400px;}
    main {padding-top: 50px;}

    p {
        font-size: 13px;
        text-align: center;
        padding: 5px;
    }

    .btn-comprar {
        height: 20px;
        font-size: 12px;
    }

    .contatos {
        height: 20px;
        font-size: 12px;
    }
}

@media screen and (max-width: 425px){
    body {max-width: 425px;}
    header {padding: 5px;}
    nav {line-height: 30px;}
    img {width: 150px;}
    h1 {font-size: 20px;}
    h2 {font-size: 18px;}
    h3 {font-size: 16px;}
    iframe {width: 380px; height: 380px;}
    main {padding-top: 50px;}

    p {
        font-size: 12px;
        text-align: center;
        padding: 5px;
    }

    .btn-comprar {
        height: 20px;
        font-size: 12px;
    }

    .contatos {
        height: 20px;
        font-size: 12px;
    }
}

@media screen and (max-width: 375px){
    body {max-width: 375px;}
    header {padding: 5px;}
    nav {line-height: 30px;}
    img {width: 150px;}
    h1 {font-size: 18px;}
    h2 {font-size: 16px;}
    h3 {font-size: 14px;}
    iframe {width: 340px; height: 340px;}
    main {padding-top: 50px;}

    p {
        font-size: 12px;
        text-align: center;
        padding: 5px;
    }

    .btn-comprar {
        height: 20px;
        font-size: 12px;
    }

    .contatos {
        height: 20px;
        font-size: 12px;
    }
}

@media screen and (max-width: 320px){
    body {max-width: 320px;}
    header {padding: 5px;}
    nav {line-height: 30px;}
    img {width: 150px;}
    h1 {font-size: 16px;}
    h2 {font-size: 14px;}
    h3 {font-size: 12px;}
    iframe {width: 280px; height: 280px;}
    main {padding-top: 50px;}

    p {
        font-size: 12px;
        text-align: center;
        padding: 5px;
    }

    .btn-comprar {
        height: 20px;
        font-size: 12px;
    }

    .contatos {
        height: 20px;
        font-size: 12px;
    }
}