*{
    margin: 0px;
    padding: 0px;
    font-family: 'Sarala', sans-serif;
}

body {
    background-color: black;
    color: white;
    
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    margin-bottom: 15px;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    margin: 15px;
}

.btn-comprar {
    background-color: greenyellow;
    color: black;
    font-weight: bold;
    border-radius: 15px;
    height: 40px;
    text-decoration: none;
    padding: 15px;
}

.btn-comprar:hover {
    background-color: yellow;
    color: black;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    /*margin-bottom: 15px;*/
    margin: 15px;
}

.contatos {
    background-color: lightskyblue;
    color: black;
    font-weight: bold;
    border-radius: 15px;
    height: 40px;
    text-decoration: none;
    padding: 5px;
    margin: 5px;
}